[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-rest-swagger = "*"
drf-yasg = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
googleapis-common-protos = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
whitenoise = "*"
Pillow = "*"
oauthlib = "*"
PyJWT = "*"

[dev-packages]

[requires]
python_version = "3.8"