{% extends 'base.html' %}
{% block content %}
{%load static%}


<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/"></a>
            <a class="navbar-brand brand-logo-mini" href="/"></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="icon-menu"></span>
            </button>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <div id="right-sidebar" class="settings-panel">
            <i class="settings-close ti-close"></i>
            <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
                        aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
                        aria-controls="chats-section">CHATS</a>
                </li>
            </ul>
            <div class="tab-content" id="setting-content"> </div>
        </div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/panel/dashboard">
                        <i class="icon-grid menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>


                <li class="nav-item active">
                    <a class="nav-link" href="/panel/user/">
                        <i class="icon-head menu-icon"></i>
                        <span class="menu-title">Users</span>

                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/panel/admintb/">
                        <i class="ti-list menu-icon"></i>
                        <span class="menu-title">Admin List</span>
                
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/panel/cradmin1/">
                        <i class="ti-shield menu-icon"></i>
                        <span class="menu-title">Create Admin</span>
                
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/panel/logout">
                        <i class="ti-power-off menu-icon"></i>
                        <span class="menu-title">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->



        <div class="main-panel">
            
            <di class="content-wrapper">
        
                            <form action="/panel/user/search/email" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-11">
                                        <div class="form-group">
                                            <input class="form-control form-control-sm" list="users" name="email" id="browser" placeholder="Search user">
                                            <datalist id="users">
                                                {%for user in t%}
                                                <option value="{{user.email}}"></option>
                                                    {%endfor%}
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                     <button type="submit" class="btn btn-primary btn-rounded btn-icon"> <i class="ti-search"></i>
                                    
                                    </button>
                                    </div>
                                </div>
                            
                        </form>
                    
                {%if l%}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="border-bottom text-center pb-4" style="padding-bottom: 0 !important;">
                                            {%if l.photo_url%}
                                            <img src="{{l.photo_url}}" alt="profile" class="img-lg rounded-circle mb-3">
                                            {%else%}
                                            <h1><i class="ti-user"></i></h1>
                                            {%endif%}
                                            <div class="mb-3">
                                                <h3>{{l.display_name}}</h3>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <h5 class="mb-0 me-2 text-muted"><i class= "ti-location-pin"></i>{{country}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="py-4">
                                            <p class="clearfix">
                                                <span class="float-left">
                                                    Status
                                                </span>
                                                <span class="float-right text-muted">
                                                    {%if l.disabled %}
                                                    Disabled
                                                    {%else%}
                                                    Active
                                                    {%endif%}
                                                </span>
                                            </p>
                                            <p class="clearfix">
                                                <span class="float-left">
                                                    Email
                                                </span>
                                                <span class="float-right text-muted">
                                                    {{l.email}}
                                                </span>
                                            </p>
                                            <p class="clearfix">
                                                <span class="float-left">
                                                    Last login at
                                                </span>
                                                <span class="float-right text-muted">
                                                    {{llt}}
                                                </span>
                                            </p>
                                            <p class="clearfix">
                                                <span class="float-left">
                                                    Account created at
                                                </span>
                                                <span class="float-right text-muted">
                                                    {{uca}}
                                                </span>
                                            </p>
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="clearfix">
                                                        <span class="float-left">
                                                            Email Verified
                                                        </span>
                                                        <span class="float-right">
                                                            {% if l.email_verified %}
                                                            <i class="ti-check"></i>
                                                            {% else %}
                                                            <i class="ti-close"></i>
                                                            {% endif %}
                                                        </span>
                                                    </p>
                                                </div>
                
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="clearfix">
                                                        <span class="float-left">
                                                            Provider
                                                        </span>
                                                        <span class="float-right">
                                                            {%if da.providerUserInfo.0.providerId == "google.com"%}
                                                            <i class="fa fa-google"></i>
                                                            {%else%}
                                                            <i class="ti-email"></i>
                                                            {%endif%}
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="update_modal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content card-light-danger">
                                                    <div class="modal-header ">
                                                        <h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i>
                                                            Update User</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                
                
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/panel/user/update/{{l.uid}}" method="POST">
                                                            {% csrf_token %}
                                                            
                                                                
                                                                <input type="text" id="uui" name="uiid"
                                                                    class="form-control form-control-lg" value="{{l.uid}}" disabled hidden>
                                                            
                                                            <div class="form-group">
                                                                <label for="name">Name</label>
                                                                <input type="text" id="name" name="name"
                                                                    class="form-control form-control-lg" placeholder={{l.display_name}}>
                                                            </div>
                                                            
                                                            
                                                            <div class="form-group">
                                                                <label for="photourl">Photo Url</label>
                                                                <input type="url" class="form-control form-control-lg" name="photourl"
                                                                    id="photourl" placeholder={{l.photo_url}}>
                                                            </div>
                                                            <div class="form-check form-check-flat form-check-primary">
                                                                {% if l.email_verified %}
                                                                <label class="form-check-label">Email Verified
                                                                    <input type="checkbox" class="form-check-input" name="emailverify"
                                                                        checked>
                                                                    <i class="input-helper"></i></label>
                                                                {% else %}
                                                                <label class="form-check-label">Email Verified
                                                                    <input type="checkbox" class="form-check-input" name="emailverify">
                                                                    <i class="input-helper"></i></label>
                                                                {% endif %}
                                                            </div>
                
                                                            <div class="mt-3">
                                                                <input type="submit" value="Update"
                                                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                                            </div>
                                                        </form>
                                                    </div>
                                        
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block mb-2" data-bs-toggle="modal"
                                            data-bs-target="#update_modal">Update User Details</button>
                                        {% if l.disabled %}
                                        <a class="btn btn-success btn-block mb-2" href="/panel/user/enable/{{l.uid}}">Enable User</a>
                                        {% else %}
                                        <a class="btn btn-dark btn-block mb-2" href="/panel/user/disable/{{l.uid}}">Disable User</a>
                                        {% endif %}
                                        <div class="modal fade" id="del-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content card-light-danger">
                                                    <div class="modal-header ">
                                                        <h4 class="modal-title" id="exampleModalLabel">Delete User Account</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div style="white-space:normal;line-height: 160%;">
                                                            <div class="row  justify-content-center">
                                                                <i class="text-danger ti-alert display-1"></i><br>
                                                            </div>
                                                            <br>
                                                            Are you absolutely sure you want to delete User Account?
                                                            <br>
                                                            <b>Please note that there is no option to restore the account or its data once it is deleted.</b>
                                                            <br>
                                                            <br>
                                                                
                                                                        
                                                                        <a type="button" class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn" href="/panel/user/delete/{{l.uid}}">
                                                                            Confirm
                                                                            Delete</a>
                                                                
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-danger btn-block mb-2" data-bs-toggle="modal" data-bs-target="#del-confirm">Delete User</button>
                                        
                                        
                                    </div>
                                    <div class="col-lg-7" style="padding-left:3rem;max-height: 540px; overflow-y: auto;">
                                        <div class="d-block d-md-flex justify-content-between mt-4 mt-md-0 border-bottom">
                                            <div class="text-center mt-4 mt-md-0">
                                                <h3>Queries made by the user : {{tq}}</h3>
                                            </div>
                                        </div>
                                        <div class="profile-feed">
                                            {%for dd in dic%}
                                            <div class="d-flex align-items-start profile-feed-item"
                                                style="padding-top:1.5rem;padding-bottom:1rem;">
                                                <div class="ms-4">
                                                    <h6>
                                                        Query # {{forloop.counter}}
                                                    </h6>
                                                    <p>
                                                        <b>Path: </b>input/{{dd.3}}
                                                    </p>
                                                    <a class="btn btn-primary btn-sm mb-2" href="{{dd.1}}"><i class="ti-arrow-down"></i>
                                                        Input File</a>
                                                    <a class="btn btn-primary btn-sm mb-2" href="{{dd.0}}"><i class="ti-arrow-down"></i>
                                                        Output File</a>
                                                    <a class="btn btn-danger btn-sm mb-2"
                                                        href="/panel/user/delete/{{l.uid}}/{{dd.2}}/{{dd.3}}"><i
                                                            class="ti-trash"></i>Delete query</a>
                                                </div>
                                            </div>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                {%else%}
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Users</h4>
                                <p class="card-description">All registered users
                                </p>
                                <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
                                    <table class="table table-striped">
                                        <thead style="position:sticky;top:0;z-index:100;background-color: white;">
                                            <tr>
                                                <th style="position:sticky;top:0;z-index:100;">Profile</th>
                                                <th style="position:sticky;top:0;z-index:100;">Display Name</th>
                                                <th style="position:sticky;top:0;z-index:100;">Email</th>
                                                <th style="position:sticky;top:0;z-index:100;">Verified</th>
                                                <th style="position:sticky;top:0;z-index:100;">Action</th>
                                                <th style="position:sticky;top:0;z-index:100;">More</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% if t %}
                                            {% for i in t %}
                                            
                                            <tr
                                            {% if i.disabled %}
                                                style="color: #979797;background-color: #e1e1e3;"
                                            {% endif %}>

                                                <td class="py-1">
                                                    {% if i.photo_url %}
                                                    <img src={{i.photo_url}}>
                                                    {% else %}
                                                    <i class="ti-user fs-30"></i>
                                                    {% endif %}
                                                </td>
                                                <td
                                                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 200px;">
                                                    {{i.display_name}}</td>
                                                <td>{{i.email}}</td>
                                                <td>
                                                    {% if i.email_verified %}
                                                    <div class="badge badge-pill badge-outline-success"><i
                                                            class="ti-check"></i></div>
                                                    {% else %}
                                                    <div class="badge badge-pill badge-outline-danger"><i
                                                            class="ti-close"></i></div>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="modal fade" id="update_modal-{{i.uid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog " role="document">
                                                            <div class="modal-content card-light-danger">
                                                                <div class="modal-header ">
                                                                    <h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i> Update User</h4>
                                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                    
                                                    
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="/panel/user/update/{{i.uid}}" method="POST">
                                                                        {% csrf_token %}
                                                                       
                                                                            <input type="text" id="uui" name="uiid" class="form-control form-control-lg" value="{{i.uid}}" disabled hidden>
                                                                        

                                                                        <div class="form-group">
                                                                            <label for="name">Name</label>
                                                                            <input type="text" id="name" name="name" class="form-control form-control-lg" placeholder={{i.display_name}}>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="photourl">Photo Url</label>
                                                                            <input type="url" class="form-control form-control-lg" name="photourl" id="photourl" placeholder={{i.photo_url}}>
                                                                        </div>
                                                                        <div class="form-check form-check-flat form-check-primary">
                                                                            {% if i.email_verified %}
                                                                            <label class = "form-check-label">Email Verified
                                                                            <input type="checkbox" class="form-check-input" name="emailverify" checked> 
                                                                         <i class="input-helper"></i></label>
                                                                          {% else %}
                                                                        <label class="form-check-label">Email Verified
                                                                            <input type="checkbox" class="form-check-input" name="emailverify" >
                                                                            <i class="input-helper"></i></label>
                                                                          {% endif %}
                                                                        </div>
                                                                        
                                                                        <div class="mt-3">
                                                                            <input type="submit" value="Update" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                                                        </div>
                                                                    
                                                                    
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-sm btn-info" data-bs-toggle="modal"
                                                        data-bs-target="#update_modal-{{i.uid}}">Update</button>


                                                    {% if i.disabled %}
                                                    <a class="btn btn-sm btn-success"
                                                        href="/panel/user/enable/{{i.uid}}">Enable</a>
                                                    {% else %}

                                                    <a class="btn btn-sm btn-dark"
                                                        href="/panel/user/disable/{{i.uid}}">Disable</a>
                                                    {% endif %}

                                                    <div class="modal fade" id="del-confirm-{{i.uid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"

                                                        aria-hidden="true">
                                                        <div class="modal-dialog " role="document">
                                                            <div class="modal-content card-light-danger">
                                                                <div class="modal-header ">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Delete User Account</h4>
                                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div style="white-space:normal;line-height: 160%;">
                                                                        <div class="row  justify-content-center">
                                                                            <i class="text-danger ti-alert display-1"></i><br>
                                                                        </div>
                                                                        <br>
                                                                        Are you absolutely sure you want to delete User Account?
                                                                        <br>
                                                                        <b>Please note that there is no option to restore the account or its data once it is deleted.</b>
                                                                        <br>
                                                                        <br>
                                                    
                                                    
                                                                        <a type="button" class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn"
                                                                            href="/panel/user/delete/{{i.uid}}">
                                                                            Confirm
                                                                            Delete</a>
                                                    
                                                    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                                        data-bs-target="#del-confirm-{{i.uid}}"
                                                        data-whatever="@getbootstrap">Delete</button>
                                                </td>

                                                <td><a href="/panel/user/{{i.uid}}" class="ti-new-window" style="text-decoration:none;"></a></td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                {%endif%}
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
    </div>
    <!-- page-body-wrapper ends -->
</div>


<script src="{%static 'vendors/js/vendor.bundle.base.js'%}"></script>
<script src="{%static 'vendors/typeahead.js/typeahead.bundle.min.js'%}"></script>
<script src="{%static 'vendors/select2/select2.min.js'%}"></script>
<script src="{%static 'js/off-canvas.js'%}"></script>
<script src="{%static 'js/hoverable-collapse.js'%}"></script>
<script src="{%static 'js/template.js'%}"></script>
<script src="{%static 'js/settings.js'%}"></script>
<script src="{%static 'js/todolist.js'%}"></script>
<script src="{%static 'js/file-upload.js'%}"></script>
<script src="{%static 'js/typeahead.js'%}"></script>
<script src="{%static 'js/select2.js'%}"></script>
<script>
    $('[data-bs-toggle="tooltip"]').tooltip();
</script>


{% endblock %}